.main{
    display:grid;
    grid-gap:200px;
  }
  .nume{
      border:1px solid purple;
      width:100px;
      height:100px;  
  }
  .num{
    color:green;
    border:1px solid blue;
    width:100px;
    height:100px;
  }