// VARIABLES -- NEESTING
$goop : rgb(63, 189, 63);
$square : 100px;
$bright: yellow;
h2{
    border:2px solid $goop;
    background-color: red;
}
p{
    background : $goop;
    i{
        background-color:orange;
    }
}

//HOVER AND THAT FUNCTIONS
.outdiv{
    border:1px solid orange;
    background: $bright;
    width:$square;
    height:$square;
    &:hover{
        background:red;
        &::after{
            content:"yes";
        }
    }
    // &:hover:after{
    //     background: grey;
    //     content: "no google";
    // }
}

//USING IMPORT
@import "./linked";

//FUNCTIONS IN SCSS
@mixin thebox(){
    display: flex;
    align-items:center;
    justify-content: center;
    width:200px;
    height:600px;
}
.rdH{
    @include thebox();
    background-color:green;
}

//FUNCTIONS HAVING PARAMETERS
@mixin size($h,$w){
    height:$h;
    width:$w;
}
.volume{
    border:2px solid gold;
    @include size(131px,187px);
}

//EXTEND
.rdHS{
    @extend .rdH;
    background-color: grey;
}

.calc{
    background-color:orange;
    width:40% + 40%;
    height:5 * 5px;
}