body{
    background-color: chartreuse;
}

.raw{
    color: blueviolet;
}
 
#testing::before{
    content:url(https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711);
}

p[id]{
    color:aquamarine;
}

.raw{
    display:flex;
    border:1px solid; 
    /* display:block; */
    /* display:inline; */
    flex-wrap:wrap;
    /* flex-direction:row-reverse; */
    align-items: stretch;
    align-content:flex-start;
    /* flex-grow:2; */
}

.rawchild1{
    /* flex-basis:200px; */
    flex-shrink:1;
    border:2px solid;
    /* background-color:grey; */
    /* align-items: stretch; */
    flex-grow:1;
}
.rawchild2{
    border:2px solid;
    /* width:200px; */
    flex-grow:3;
    flex-shrink:2;
}
.long{
    writing-mode:vertical-lr;
    transform:rotate(190deg);
    /* text-orientation:vertical; */
    letter-spacing:12px;
}
.Grid{
    border:1px solid;
    display:grid;
    /* gap: 30px 30px; */
    /* grid-template-rows: repeat(2 , 35px 80px); */
    /* grid-template-columns: repeat(2, 30px 60px); */
    /* grid-template-columns:auto auto; */
    /* float:right; */
    /* grid-row:auto / auto ; */
    background-color:grey;
    /* grid-template-areas:"one one two"
                        "three three two"
                        "four four four"; */
    grid-template:"one one two"
                  "three three two"
                  "four four four" 50px / 60px;
}
.First{
    grid-area:one;
    border:1px solid;
    /* grid-column:1/3; */
}
.Second{
    grid-area:two;
    border:1px solid;
    /* grid-area:footer; */
    /* grid-column:1/3;  */
}
.Multiple{
    grid-area:three;
    border:1px solid;
   /* grid-column:1; */
    grid-template-columns: subgrid;
}
.multipleone{border:1px solid;}
/* .multipletwo{border:1px solid;}
.multiplethree{border:1px solid;}
.multiplefour{border:1px solid;}
.multiplefive{border:1px solid;}
.multiplesix{border:1px solid;}
.multipleseven{border:1px solid;} */


.fourth{
    grid-area:four;
    border:1px solid;
    grid-row: 2px;
}