 .main{
    display: grid;
    grid-gap: 12px;
    grid-template-areas:"one one one one"
                        "two two three three"
                        "four four five five";
 }
 .itm{
    border:2px double grey;
 }
 .item1{
    grid-area: one;
 }
 .item2{
    grid-area: two;
 }
 .item3{
    grid-area: three;
    /* min-width: 300px; */
 }
 .item4{
    grid-area: four;
 }
 .item5{
    grid-area: five;
 }