/* PANCAKE STACK */
.full{
    display: grid;
    /* grid-auto-columns: 200px;
    grid-auto-rows: 1fr; */
    /* grid-template-columns:1fr auto auto ; */
    height:100vh;
    grid-template-rows:auto 1fr auto;
}
.header{
    color: blue;
    border: 3px solid green;
    /* height: 10vw; */
    /* width:60vw; */
}
.main{
    color:aqua;
    border: 1px solid green;
    /* height: 80vh; */
    /* width:60vw; */
}
.footer{
    color:bisque;
    /* height: 10vh; */
    /* width:60vw; */
    border: 1px solid green;
    /* align-self:end; */
}

