:root{
    --yellow:#ffc600;
}
.none{
    background-color:green;
    border:2px solid gold;
    display:grid;
    /* grid-template-columns:50px 100px; */
    /* grid-template-rows:100px 50px; */
    grid-gap:5px;
    grid-template-areas:"a a"
                        "b c"
                        "d c";
    /* grid-auto-flow: column; */
    
}
.one{border:1px solid;
    grid-area:a;
    box-sizing:border-box;
}
.two{border:1px solid;
    grid-area:b;

}
.three{border:1px solid;
    grid-area:c;
    grid-column:span 2;
    color:var(--yellow);

}
.four{border:1px solid;
    grid-area:d;
    text-shadow:2px 2px grey;

} 

.new{
    display:grid;
    background-color:grey;
    /* grid-template-columns: repeat(auto-fit ,minmax(150px , 1fr)); */
    /* grid-template-rows:repeat(10, 50px); */
    grid-template-columns: fitcontent(100px) 50px ;

}
.items{
    border:1px solid;
}
.one{
    background-color:purple;
    grid-column:3/5;
}
.two{
    background-color:yellow;
    grid-column:5/-1;
}
.five{
    grid-column:span 2;
    grid-row:span 2;
}
.eight{
    grid-row:span 2;
    
}
.fifteen{
    background-color:blue;
    grid-column:1/-1;
}
.eighteen{
    grid-column:span 4 / 9;
}
.twenty{
    grid-row:
}
/* .te{ */
    /* colour:purple; */
    /* grid-row:2/5; */
    /* grid-row-start: 2;
    grid-row-end: 5; */
    /* grid-column:1/4; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
/* } */
/* .items{border:1px solid;

} */

.sgrid{
    display:grid;
    border:3px solid yellow;
    grid-template-columns:repeat(2, 1fr);
    /* grid-template-rows:20px; */
    grid-gap:5px 5px;
}
.pgrid{
    border:2px solid blue;
}
.pgridm{
    border:2px solid red;
    grid-template-columns: subgrid;
}
.childgrid{
    border:1px solid;
    /* grid-template-columns:subgrid; */
}

p[id="asc"]{
    color:green;
}
[class*="new"]{
    color:aquamarine;
}