.css-prop-demo{
    border:1px solid green;
    height:100px;
    width:100px;
}
.rectangle{
    color:pink; 
    width:50px;
    height:50px;
}
.circle{
    width:50px;
    height:50px;
    color:bisque;
}
h2{
    border:1px solid red;
}
.charged{
    float:left;
    background-color: green;
    height:15px;
    width:0px;
}
.cover{
    height:15px;
    width:60px;
    border:3px solid grey;
    float:left;
}
.charge{
    float:left;
    height:10px;
    width:0px;
    border:3px solid grey;
    margin-top:2.5px;
}

.progress{
    border:2px solid burlywood;
    height:50px;
    width:50px;
}