*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:"montserrat",sans-serif;
    background-image:url('bg2.jpg');
    background-size:cover;
    background-position:top center;
}
h2{
    color:yellow;
}

#app-wrap{
    display: flex;
    flex-direction:column;
    min-height:100vh;
}

header input{
    width:100%;
    max-width:280px;
    padding:10px 15px;
    outline:none;
    border:none;
    border-radius:16px 0px 16px 0px;
    border-bottom:3px solid red; 
    font-size:20px;
    font-weight:300;
    color:purple;
    transition:0.2s ease-out;
}

header input:focus{
    background-color:silver;
}

main{
    display:flex;
    flex:1 1 100%;
    padding:25 25 50;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
#location #city{
    color:white;
    font-size:50px;
    font-weight:500;

}
#location #date{
    color:white;
    font-size:16px;
}
#temp{
    color:white;
    font-size:102px;
    font-weight:900;
    margin:30px 0px;
    text-shadow:2px 7px black;    
}
#current #temp{
    color:white;
    font-size:102px;
    font-weight:900;
    margin:30px 0px;
    text-shadow:2px 7px black;
}
.temperature{
    display: grid;
    grid-template-columns: auto auto;
}
#deg{
    color:white;
    font-size:102px;
    margin:30px 0px;
    text-shadow:2px 7px black;
    font-weight:500;
}

#weathers{
    color:white;
    font-size:32px;
    font-weight:700;
    font-style:italic;
    margin-bottom:15px;
    text-shadow:3px 2px grey;
}