/* $unk: red; */
header{
    color: red;
}
.images{
    overflow: hidden;
    display:grid;
    /* grid-auto-columns:1200px; */
    /* grid-template-columns:repeat(autofill, minmax(100px, 200px)); */
    /* grid-auto-rows: auto; */
    /* grid-auto-columns: 200px; */
    grid-template-columns:repeat(auto-fill, 200px);
    /* grid-template-rows: repeat(auto-fill, 100px); */
    grid-auto-rows: 100px;
    grid-auto-flow:dense;
    /* grid-gap:5px; */
}
.image{

}
.img{
    background-color:yellow;
    object-fit:cover;
    width:100%;
    height:100%;
}
.second{
    background-color: greenyellow;
    object-fit:cover;
    width:100%;
    height:100%;
    color:lawngreen;
    grid-column: span 2; 
}
.first{
    background-color: red;
    object-fit:cover;   
    width:100%;
    height:100%;
    grid-row: span 2;
}