.a{
    border: 1px solid green;
}
.one{
    border:2px solid grey;
}
.two{
    border:2px solid grey;
}
.three{
    border:2px solid grey;
}
.nums{
    display: grid;
}
@media (max-width:600px){
    .nums{
        background-color:blueviolet;
    }
    .two{
        background-color: blue;
        order:-1;
    }
} 