.main{
    border:2px solid green;
    /* width:100vw; */
    height:100vh;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    /* column-gap: 12px;
    align-items: center; */
    /* grid-template-rows: repeat (12, 1fr); */
}
.second{
    border:2px solid green;
} 
.start{
    background-color:pink;
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 7;
    grid-column-end: 11;
}
